e.Projectfinal/e.Project/Service References/wcfService/MyAppProject1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EprojectWithWcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EprojectWithWcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategory" nillable="true" type="tns:ArrayOfCategory" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="CID" type="xs:int" />
      <xs:element minOccurs="0" name="CName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="ArrayOfBrands">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Brands" nillable="true" type="tns:Brands" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBrands" nillable="true" type="tns:ArrayOfBrands" />
  <xs:complexType name="Brands">
    <xs:sequence>
      <xs:element minOccurs="0" name="BID" type="xs:int" />
      <xs:element minOccurs="0" name="BName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Brands" nillable="true" type="tns:Brands" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PID" type="xs:int" />
      <xs:element minOccurs="0" name="PName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QUNTITY" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
</xs:schema>